/*Existing class updates*/
body{
    background-color: beige !important;
    padding-bottom: 30px;
}

img{
    width: 100%;
    max-width: 400px;
}

h1{
    font-size: 50px !important;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}

h3{
    padding-top: 8px;
}

/*Custom classes*/
.card-img-fixed {
  width: 100%;           
  height: 200px;         
  object-fit: cover;     
}

.custom_mainheading{
    padding-top: 25px;
}

.display-6{
    text-decoration-line: underline;
}

.custom{
    font-size: 20px;
}

.custom_paragraph{
    border-style: solid;
}